*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
#nav-bar{
    width: 100%;
    height: 60px;
}
main{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-flow: row nowrap;
}
#side-bar{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--color-side-bar);
}
.top-side{
    height: calc(100% - 50px);
}
.bottom-side{
    height: 50px;
}

#main-content{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}
.top-main{
    width: 100%;
}
.bottom-main{
    width: 100%;
}
/* .new-student:after{
    content: "+";
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    margin: 25px;
    padding: 5px 15px;
} */
.my-grey-bg{
    background-color: rgba(0, 0, 0, 0.272);
}
.my-font-small-size{
    font-size: 10px;
}
.img-class img{
    width: 25px;
    height: 25px;
    display: inline-block;
}
